{% extends 'base.html' %}
<!-- templates/accounts/doctor_dashboard.html -->

{% block title %}Doctor Dashboard - Prana{% endblock %}

{% block content %}
<div class="w-screen">
    <div class="m-10">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="card bg-gray-700 shadow-xl text-white">
                <div class="card-body">
                    <h2 class="card-title">Patient Requests</h2>
                    <p>Manage organ donation requests</p>
                    <div class="card-actions justify-end">
                        <button class="btn bg-blue-700 hover:border-white hover:bg-blue-700">View Requests</button>
                    </div>
                </div>
            </div>
            <div class="card bg-gray-700 shadow-xl text-white">
                <div class="card-body">
                    <h2 class="card-title">Patient Requests</h2>
                    <p>Manage organ donation requests</p>
                    <div class="card-actions justify-end">
                        <button class="btn bg-blue-700 hover:border-white hover:bg-blue-700">View Requests</button>
                    </div>
                </div>
            </div>
            <div class="card bg-gray-700 shadow-xl text-white">
                <div class="card-body">
                    <h2 class="card-title">Patient Requests</h2>
                    <p>Manage organ donation requests</p>
                    <div class="card-actions justify-end">
                        <button class="btn bg-blue-700 hover:border-white hover:bg-blue-700">View Requests</button>
                    </div>
                </div>
            </div>
        <!-- Add more cards for other doctor features -->
        </div>
    </div>
</div>
{% endblock %}