{% extends 'base.html' %}
{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
</head>
<body>
    <h1>Sign In</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign In</button>
    </form>
</body>
</html> {% endcomment %}


{% block title %}Login - Prana{% endblock %}

{% block content %}
<div class="w-screen">
    <div class="max-w-md m-auto min-h-screen py-20">
        <h2 class="text-2xl font-bold mb-6">Login</h2>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn bg-blue-700 w-full text-white hover:border-white">Login</button>
        </form>
        <p class="mt-4 text-center">
            Don't have an account? <a href="{% url 'accounts:signup' %}" class="link text-blue-700">Sign up</a>
        </p>
    </div>
</div>
{% endblock %}